/* Resetting some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
  font-weight: 300;
}

section {
  padding: 40px 0;
  background-color: #272525;
  color: white;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
}

ul li {
  margin: 8px 0;
}

.job {
  margin-bottom: 30px;
}

.job h3 {
  font-size: 1.5rem;
}

.job p {
  font-weight: bold;
}

a {
  color: #0073e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: black;
  padding: 10px 0;
  text-align: center;
}

footer p {
  font-size: 1rem;
}

.contact ul li {
  font-size: 1.1rem;
  margin: 8px 0;
}
